body {
    font-family: OpenSans Light, Arial;
    color: #464646;
    font-size: 15px;
    line-height: 30px; 
}

.title {
    font-size: 47px;
    color: black;
    letter-spacing: 10px;
    font-family: Gilroy ExtraBold, Arial;
}
