<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DEVICE</title>
    </head>
    <body>
        <header>
            <h1>DEVICE</h1>
            <div>
                <form>
                    <i class="search-icon"></i>
                    <input type="text" placeholder="Поиск по сайту">
                </form>
                <div class="products-catalog">
                    <p>Каталог товаров</p>
                    <i class="plus"></i>
                </div>
            </div>
            <nav>
                <div>
                    <a href="#"><i class="icon"></i><span>Войти</span></a>
                    <ul>
                        <li><a href="#">ДОСТАВКА</a></li>
                        <li><a href="#">ГАРАНТИЯ</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#"><i class="icon"></i><span>Сравнить</span></a></li>
                        <li><a href="#"><i class="icon"></i><span>Корзина</span></a></li>
                    </ul>
                    <a href="#">КОНТАКТЫ</a>
                </div>
            </nav>
        </header>

        <main>
            <article>
                <img src="#">
                <div class="line"></div>
                <div class="counter">01</div>
                <div>
                    <h2>Делайте селфи, как Бан Стиллер!</h2>
                    <p>??????????</p>
                    <a href="#">ПОДРОБНЕЕ</a>
                    <ul class="slider-nav">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul>
                        <li>
                            <p class="value">8,5 м</p>
                            <p class="description">Длина палки</p>                          
                        <li>
                        <li>
                            <p class="value">5 кг</p>
                            <p class="description">Вес палки</p>
                        </li>
                        <li>
                            <p class="value">Карбон</p>
                            <p class="description">Материал</p>
                        </li>
                    </ul>
                </div>
            </article>

            <ul>
                <li>
                    <img src="#">
                    <a href="#">Виртуальная реальность</a>
                </li>
                <li>
                    <img src="#">
                    <a href="#">Монопады для селфи</a>
                </li>
                <li>
                    <img src="#">
                    <a href="#">Экшн-камеры</a>
                </li>
                <li>
                    <img src="#">
                    <a href="#">Фитнесс браслеты</a>
                </li>
                <li>
                    <img src="#">
                    <a href="#">Умные часы</a>
                </li>
                <li>
                    <img src="#">
                    <a href="#">Квадрокоптеры</a>
                </li>
            </ul>

            <section>
                <div>
                    <nav>
                        <ul class="delivery-menu">
                            <li><a href="#" class="active">ДОСТАВКА</a></li>
                            <li><a href="#">ГАРАНТИЯ</a></li>
                            <li><a href="#">КРЕДИТ</a></li>
                        </ul>
                    </nav>
                    <article>
                        <div>
                            <h2>Доставка</h2>
                            <p>
                                Мы с удовольствием доставим ваш товар прямо к вашему 
                                подъезду совершенно бесплатно! Ведь мы неплохо
                                заработаем, поднимая его на ваш этаж.
                            </p>
                        </div>
                        <div>
                            <img src="#">
                        </div>
                    </article>
                </div>                
            </section>

            <ul>
                <li><img src="#"></li>
                <li><img src="#"></li>
                <li><img src="#"></li>
                <li><img src="#"></li>
            </ul>

            <article>
                <div class="line"></div>
                <h2>О нас</h2>
                <p>
                    Огромный выбор гаджетов не оставит равнодушным гика,
                    который есть в каждом из нас.
                </p>
                <p>
                    Мы можем доставить ваш товар в самые отдаленные точки 
                    России! DEVICE работает со многими транспортными компаниями:
                </p>
                <ul>
                    <li>Деловые Линии</li>
                    <li>Автотрейдинг</li>
                    <li>ЖелДорЭкспедиции</li>
                </ul>
                <a href="#">ПОДРОБНЕЕ О НАС</a>
            </article>

            <article>
                <div class="line"></div>
                <h2>Контакты</h2>
                <p>
                    Вы можете забрать товар сами, заехав в наш офис. Заодно, вы можете
                    проверить работоспособность покупки. Всякое бывает.
                </p>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160254.95327581684!2d16.85177889025044!3d51.12720970738702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9c2d4b58abf%3A0xb70956aec205e0f5!2zV3JvY8WCYXc!5e0!3m2!1sen!2spl!4v1502651752431" width="600" height="450" style="border:0" allowfullscreen></iframe>

                <a href="#">НАПИШИТЕ НАМ</a>
            </article>
        </main>

        <footer>
            <div>
                <h1>DEVICE</h1>
                <p>г.Москва, ул.Строителей, 15</p>
                <div class="line"></div>
            </div>
            <div>
                <ul>
                    <li><a href="#">ДОСТАВКА</a></li>
                    <li><a href="#">ГАРАНТИЯ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="#" class="social-icon"></a></li>
                    <li><a href="#"><img src="#" class="social-icon"></a></li>
                    <li><a href="#"><img src="#" class="social-icon"></a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#"><i class="icon"></i><span>Войти</span></a></li>
                    <li><a href="#"><i class="icon"></i><span>Сравнить</span></a></li>
                    <li><a href="#"><i class="icon"></i><span>Корзина</span></a></li>
                </ul>
                <p>Тел.: +7(495)495-95-95</p>
                <img src="#">
            </div>
        </footer>
    </body>
</html>